body {
    background-color: yellow;
    height: 1100px;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    font-style: bold;
    font-family: 'Comfortaa', cursive;
    height: 125px;
    padding: 5px 15px 15px 55px;
    width: 100%;
}

h1,
h2 {
    padding-left: 25px;
    padding-bottom: 10px;
}

h3 {
    color: red;
    font-family: 'Comfortaa', cursive;
    font-size: 175%;
    font-weight: bold;
    margin: 45px 0px 0px 215px;
}

#description {
    background-color: rgb(232, 232, 232);
    border: 3px solid red;
    height: 700px;
    margin: 850px 50px 0px 12.5px;
    padding: 30px 20px 0px 75px;
    position: absolute;
    width: 925px;
}

#description p {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    padding-right: 50px;
}

#description a:link,
a:visited,
a:hover,
a:active {
    font-weight: bold;
    text-decoration: none;
}

#description a:link {
    color: blue;
}

#description a:visited {
    color: green;
}

#description a:hover {
    color: red;
}

#description a:active {
    color: blue;
}

.images a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

.images figcaption {
    font-size: 82.5%;
    padding-left: 5px;
    font-weight: bold;
}

#images {
    width: 400px;
}

#image1 {
    position: fixed;
    top: 200px;
    left: 1150px;
}

#image2 {
    position: fixed;
    top: 500px;
    left: 1150px;
}
